
<div>
  <%= link_to "Edit this special", edit_special_path(@special) %> |
  <%= link_to "Back to specials", specials_path %>
  <%= link_to "Destroy this special", @special, method: :delete , data: { turbo_method: "delete" }%>
</div>
