<h1>Editing card pacient</h1>

<%= render "form", card_pacient: @card_pacient %>

<br>

<div>
  <%= link_to "Show this card pacient", @card_pacient %> |
  <%= link_to "Back to card pacients", card_pacients_path %>
</div>
